* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#splash-screen {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    opacity: 1;
    transition: opacity 2s ease;
}

#splash-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#splash-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}


:root {
    --radius: 34vmin;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/background-image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.icon-wheel {
    position: relative;
    width: 80vmin;
    height: 80vmin;
}

/* base icon container (NOW handles positioning) */
.icon-wheel a {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 18vmin;
    height: 18vmin;

    margin-left: -9vmin;
    margin-top: -9vmin;

    transform-origin: center center;

    transition: transform 0.3s ease, filter 0.3s ease;
}

/* image only handles visuals */
.icon-wheel a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


/* a roda */

.calendario {
    transform: rotate(0deg) translateY(calc(-1 * var(--radius))) rotate(0deg);
}

.edicoes {
    transform: rotate(45deg) translateY(calc(-1 * var(--radius))) rotate(-45deg);
}

.somdeintervencao {
    transform: rotate(90deg) translateY(calc(-1 * var(--radius))) rotate(-90deg);
}

.sobre {
    transform: rotate(135deg) translateY(calc(-1 * var(--radius))) rotate(-135deg);
}

.newsletter {
    transform: rotate(180deg) translateY(calc(-1 * var(--radius))) rotate(-180deg);
}

.arquivo {
    transform: rotate(225deg) translateY(calc(-1 * var(--radius))) rotate(-225deg);
}

.angariacao {
    transform: rotate(270deg) translateY(calc(-1 * var(--radius))) rotate(-270deg);
}

.novoicon {
    transform: rotate(315deg) translateY(calc(-1 * var(--radius))) rotate(-315deg);
}



/* 90s glow effect */
.icon-wheel img {
    transition: transform 0.3s ease, filter 0.3s ease;
    position: absolute;
}

/* glow WITHOUT changing transform */
.icon-wheel img:hover {
    filter:
        drop-shadow(0 0 10px rgba(0, 255, 255, 0.9))
        drop-shadow(0 0 25px rgba(255, 0, 255, 0.6));
}

/* center label */
.wheel-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: Arial, sans-serif;
    font-size: 2vmin;

    color: black;      
    text-transform: none; 

    text-align: center;
    pointer-events: none;
}


/* show state */
.wheel-label.active {
    opacity: 1;
}